## 1. Write a function that computes the volume of a sphere given its radius.

In [9]:

def vol(rad):
    volumen = (4/3) * 3.141592 * rad**3
    return volumen

In [11]:
vol(2)

33.510314666666666

## 2.Write a function that checks whether a number is in a given range (inclusive of high and low)

In [14]:
def ran_check(num,low,high):
    if num > low and num < high:
        print('yes!')
    else:
        print('f que flipas')

In [21]:

# Check
ran_check(7,2,7)

f que flipas

## 3. Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [29]:
def up_low(s):
    upper=0
    lower=0
    for letter in s:
        if letter.isupper():
            upper+=1
        elif letter.islower():
            lower+=1
    print('Original String {}'.format(s))
    print('No. of Upper case characters: {}'.format(upper))
    print('No. of Lower case characters: {}'.format(lower))

In [30]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters: 4
No. of Lower case characters: 33

## 4. Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [33]:
def unique_list(lst):
    return set(lst)

In [34]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

## 5. Write a Python function to multiply all the numbers in a list.

In [42]:
def multiply(numbers):  
    listnum = []
    index = 0
    for num in numbers:      
        if len(listnum)>0:
            print(listnum)
            new = listnum[0]*num
            listnum.clear()
            listnum.append(new)
            
        else:
            listnum.append(num)
    print(listnum)
    #return numberss

In [45]:
multiply([1,2,3,4,5,6,7,8,-9,10])

[1]
[2]
[6]
[24]
[120]
[720]
[5040]
[40320]
[-362880]
[-3628800]

## Write a Python function that checks whether a passed in string is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [75]:

def palindrome(s):
    x = s[::-1]
    if x == s:
        return True
    return False

In [81]:
palindrome('victor')

False

## Write a Python function to check whether a string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [154]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    new_str = set(str1.lower())
    return (len(new_str) - 1  == len(alphabet))

In [157]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [84]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

# WARMUP SECTION:

### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [165]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return a
        else:
            return b
    elif a%2==0:
        return b
    else:
        return a

In [166]:
lesser_of_two_evens(2,4)

4

In [167]:
lesser_of_two_evens(2,5)

5

## ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [178]:
def animal_crackers(text):
    words = text.split()
    return words[0][0] == words[1][0]

In [179]:
animal_crackers('Levelheaded Llama')

True

In [180]:
animal_crackers('Crazy Kangaroo')

False

## MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [190]:
def makes_twenty(n1,n2):
    if n1==20 or n2 == 20:
        return True
    return sum([n1,n2])==20

In [194]:
makes_twenty(20,10)

True

In [193]:
makes_twenty(2,18)

True

In [189]:
sum([5,6])

11

# LEVEL 1 PROBLEMS
## OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [222]:
def old_macdonald(name):
    word1 = name[:3:].capitalize()
    word2 = name[3::].capitalize()
    return word1 + word2

In [225]:
old_macdonald('victorpuerta')

'VicTorpuerta'

## MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [263]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [264]:
# Check
master_yoda('I am home')

'home am I'

In [265]:

# Check
master_yoda('We are ready')

'ready are We'

['rats', 'lol', 'pigs']

## ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [281]:
def almost_there(n):
    return n >= 80 and n <= 120 or n>= 180 and n<= 220

In [282]:

# Check
almost_there(104)

True

In [287]:
# Check
almost_there(85)

True


## LEVEL 2 PROBLEMS

FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [335]:
def has_33(nums):
    true=0
    index = 0
    for n in nums:
        if index<len(nums):
            if true==1:
                if n==3:
                    return True
                else:
                    true = 0
            else:                        
                if n==3:
                    true=1
        index += 1

In [337]:
# Check
has_33([1, 3, 2, 3, 3])

True

## PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [344]:

def paper_doll(text):
    list = []
    for letters in text:
        list.append(letters*3)
    return ''.join(list)

In [347]:

# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [353]:

def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) > 21:
        if a==11 or b==11 or c ==11:
            return sum([a,b,c]) -10
        else:
            return 'BUST'

In [354]:
# Check
blackjack(5,6,7)

18

In [355]:
# Check
blackjack(9,9,9)

'BUST'

In [356]:
# Check
blackjack(9,9,11)

19

## SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [371]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [372]:
# Check
summer_69([1, 3, 5])

9

In [373]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [374]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

## SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True
 
 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [393]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
            print(code)
       
    return len(code) == 1

In [394]:
# Check
spy_game([1,2,4,0,0,7,5])

[0, 7, 'x']
[7, 'x']
['x']

True

In [395]:
# Check
spy_game([1,0,2,4,0,5,7])

[0, 7, 'x']
[7, 'x']
['x']

True

In [392]:
# Check
spy_game([1,7,2,0,4,5,0])

False