## Sets are unordered collections of unique elements, it can be only one respresentative of the same object

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [7]:
myset.add(2)

In [8]:
myset

{1, 2}

In [9]:
myset.add('two')

In [10]:
myset

{1, 2, 'two'}

In [11]:
myset.add('two')

In [12]:
myset

{1, 2, 'two'}

In [13]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [14]:
set(mylist)

{1, 2, 3}

In [15]:
mylist

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3]

In [17]:
myset

{1, 2, 'two'}

In [19]:

set('Mississippi')

{'M', 'i', 'p', 's'}